<div class="modal fade" id="registrationWindow" tabindex="-1" role="dialog" aria-labelledby="ModalTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="ModalTitle">Регистрация на раунд</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="player1" class="col-form-label">Первый игрок:</label>
						<input readonly type="text" class="form-control" id="player1" value="Косыгин Родион">
					</div>
					<div class="form-group">
						<label for="player2" class="col-form-label">Второй игрок:</label>
						<input type="text" class="form-control" id="player2">
					</div>
					<div class="form-group">
						<label for="dateRegistration" class="col-form-label">Дата регистрации:</label>
						<div class="input-group" id="dateRegistration">
							<input type="text" class="form-control" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="timeRegistration" class="col-form-label">Время регистрации:</label>
						<div class="input-group" id="timeRegistration">
							<input type="text" class="form-control" />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-dark">Сохранить</button>
			</div>
		</div>
	</div>
</div>