@{
    ViewData["Title"] = "Home Page";
}
<<<<<<< Updated upstream
@model IEnumerable<DebateApp.Models.Person>

    <div>
        <table class="table" width="70%">
            <tr class="header">
                <th scope="col" width="50px"> Id</th>
                <th scope="col"> Фамилия</th>
                <th scope="col">Имя</th>
                <th scope="col">Email</th>
            </tr>
            @foreach (var b in Model)
            { 
                <tr>
                    <th scope="row">@b.Id</th>
                    <td>@b.LastName</td>
                    <td>@b.FirstName</td>
                    <td>@b.Email</td>
                </tr>
            }
        </table>
    </div>

=======

Здрасьте, я в страничке человеков
>>>>>>> Stashed changes
